<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="accent">
  Welcome to {{ title }}!
</mat-toolbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Rxjs Actions and Console</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="left">
      <button mat-raised-button (click)="initObservable()">Init</button>
      <button id="start-button" color="primary" mat-raised-button>Start counter</button>
      <button id="stop-button" color="primary" mat-raised-button>Stop counter</button>
      <div class="drag-and-drop-container">
        <div id="drag-and-drop-item">DragMe!</div>
      </div>
    </div>
    <mat-list dense class="right logs">
      <mat-list-item *ngFor="let log of logs">{{log.trim()}}</mat-list-item>
    </mat-list>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="clear()">clear</button>
  </mat-card-actions>
</mat-card>

